services:
  n8n:
    image: n8nio/n8n:latest
    container_name: n8n
    restart: always
    environment:
      - PUID=1000
      - PGID=1002
      - GENERIC_TIMEZONE=UTC
      - N8N_BASIC_AUTH_ACTIVE=true # Enable Basic Authentication (Optional for securing n8n)
      - N8N_BASIC_AUTH_USER=jared
      - N8N_BASIC_AUTH_PASSWORD=P@ssw0rd
      - N8N_PROTOCOL=https
      - N8N_SSL_KEY=/certs/n8n.cathcart.internal.key
      - N8N_SSL_CERT=/certs/n8n.cathcart.internal.crt
    ports:
      - 5678:5678  # Expose the n8n web interface on port 5678
    volumes:
      - ${VOL_BASE}/n8n/data:/home/node/.n8n:rw  # Persist data (like workflows and credentials)
      - ${VOL_BASE}/n8n/certs:/certs:ro
